<h1><%= @project.name %></h1>
<h2>
  <%= link_to "Vital", vital_path(:id => @project.id) %>
  <%= link_to "Important", importance_path(:id => @project.id) %>
  <%= link_to "Nice", nice_path(:id => @project.id) %>
  <%= link_to "Anatole", anatole_path(:id => @project.id) %>
  <%= link_to "Felix", felix_path(:id => @project.id) %>
</h2>

<table>
  <tr><td></td><td>Title</td><td>Creator</td><td>Assigned To</td></tr>
  <% @tickets.each_with_index do |t, i| %>
    <tr id="ticket_<%= i %>">
      <td><%= check_box_tag t.id, i , false, :class => "chk" %></td>
      <td><%= link_to (title = "##{t.id}_#{t.title}"), ticket_url(@project, t), {:target => "_blank"} %></td>
      <td><%= creator =  Lighthouse::User.find(t.creator_id).name %></td>
      <td><%= assigned_user = Lighthouse::User.find(t.assigned_user_id).name %></td>
      <td>
        <% form_tag create_story_path(:id => @project.id) do %>
          <%= hidden_field :story, :name,  :value => title.toutf8, :id => "name_#{i}" %>
          <%= hidden_field nil, :back_to,  :value => request.url %>
          <%= hidden_field :story, :requested_by, :value => mapper_name(creator), :id => "creator_#{i}"  %>
          <%= hidden_field :story, :owned_by, :value => mapper_name(assigned_user), :id => "assigned_user_#{i}"  %>
          <%= submit_tag "Creat Story" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <td>
    <a href="javascript:undefined" onclick="$('.chk').attr('checked',true);return false">Select all</a> |
    <a href="javascript:undefined" onclick="$('.chk').attr('checked',false);return false">Unselect all</a>
  </td>
  <tr>
    <td>
      <a href="javascript:undefined" onclick="create_selected_story()">Create Stories</a>
    </td>
  </tr>
<script>
    function create_selected_story() {
      var checkboxes = $('input.chk:checked');
      if (checkboxes.size() === 0) {
        alert('Nothing is selected');
      }
      else if(window.confirm('Are you sure?')){
        var sid = '<%= session[:session_id] %>';
        checkboxes.each(function() {
          var index = this.value.toString();
          var url = '<%= create_story_path(:id => @project.id) %>';
          var opts = { sid: sid, "story[name]": $("#name_" + index).val(), "story[requested_by]": $("#creator_" + index).val(), "story[owned_by]": $("#assigned_user_" + index).val()};

          var callback = function(data) {
            var arr = data === 'OK' ? ["OK",'green'] : ['ERROR','red'];
            $('#ticket_' + index).css('background',arr[1]);
          };
          
          jQuery.post(url, opts, callback);
        });
      }
    }
</script>
</table>
