<h1><%= @project.name %></h1>
<h2>
  <%= link_to "Vital", project_path(:id => @project.id) %> 
  <%= link_to "Important", project_path(:id => @project.id, :query => "tagged:important") %> 
  <%= link_to "Nice", project_path(:id => @project.id, :query => "tagged:nice") %> 
  <%= link_to "Anatole", project_path(:id => @project.id, :query => "responsible:anatole") %> 
  <%= link_to "Felix", project_path(:id => @project.id, :query => "responsible:felix") %>
</h2>

<table>
  <tr><td>Title</td><td>Creator</td><td>Assigned To</td></tr>
  <% @tickets.each do |t| %>
    <tr>
      <td><%= link_to "##{t.id} #{t.title}", ticket_url(@project, t), {:target => "_blank"} %></td>
      <td><%= Lighthouse::User.find(t.creator_id).name %></td>
      <td><%= Lighthouse::User.find(t.assigned_user_id).name %></td>
    </tr>
  <% end %>
</table>
